body{
    margin:0;
    background-size:cover;
    background-position: 50% 50%;
    background: url("img/pexels-pixabay-326311.jpg") fixed center;
    overflow-x: hidden; 
}


.Menu-Logo{
    position:absolute;
    background:red;
    top:0;
    left:0;
    height:400px;
    width:70%;
    margin: 0 auto;

}
.logo-container{
    position: relative;
    height: 350px;
    width:100%;
    /* background:red; */
}
#logo{
    position: absolute;
    left:38%;
    top:2%;
    height: 100px;
    width:100px;
    margin-bottom: 5px;
}
#logo img{
    height:300px;
    width:400px;
}
.nav-container{
    background:beige;
    position: absolute;
    left:15%;
    top:92%;
    width:1000px;
    height: 50px;
    border-radius: 1.6em;
}
main{
    /*Figure out how to get everything inside the main
    tag to be centered
    */
    /* background:blue; */
    position: absolute;
    height: 100%;
    width:100%;
    top:50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menu-gallery{
    /* background:pink; */
    position: relative;
    height: 505px;
    width:1000px;
    margin: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.box{
    /* background:red; */
    height:100%;
    width:400px;
}
#slider{
    position: relative;
    background:green;
    margin-left: 10px;
    height:250px;
    width:300px;
}
#slider img{
    position: relative;
    height: 100%;
    width:100%;
    border:2px solid black;
}
.inner-box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.inner-box{
    background:beige;
    margin:12px;
    height: 35%;
    justify-content: center;
    padding-top: 10px;
    border:5px solid black;
}
.inner-box2{
    background:beige;
    object-fit: scale-down;
    height:80%;
    width:90%;
    margin:6px;
    padding: 3px;
    border:5px solid black;
}
.inner-box2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    object-fit: cover;
}
.our-story{
    /* background:pink; */
    position: relative;
    height: 500px;
    width:1000px;
    margin: auto;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.our-story-content{
    background:beige;
    position: relative;
    margin:0;
    height:450px ;
    width:600px;
    border-radius: 1.6em;
    opacity: 0.7;
    flex-direction: column;
    display: flex;
    padding-right: 15px;
    padding-left: 5px;
}
.our-story-content p{
    position: relative;
    margin-bottom: 3px;
    font-size: 17px;
    font-weight: 500;
    font-family:sans-serif;
    text-align: left;
}
#our-story-content-header{
    position: relative;
    float: left;
    top:0;
    font-size: 33px;
    font-family: fantasy;
    font-weight: bold;
}
#signature{
    position: relative;
    font-family:fantasy;
    font-weight: 900;
    margin-left: 50%;
}
.our-story-photo{
    position: relative;
    height: 500px;
    width:450px;
}
.our-story-photo img{
    display: block;
    margin: auto;
    width:90%;
    height: 90%;
    object-fit: cover;
    border-radius: 1.6em;
}
.carousel{
    position: relative;
    /* background:pink; */
    left: 0;
    width:100%;
    height:250px ;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.carousel__images{
    flex-direction: row;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.25;
}
.carousel img{
    position: relative;
    background:green;
    margin-left: 10px;
    max-height: 270px;
    max-width: 475px;
    z-index: -999;
}
.carousel button{
    background: teal;
    border:0;
    border-radius: 50%;
    color:white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 4rem;
    opacity: 0.75;
    position: absolute;
    transition: opacity 0.25s;
    width:4rem;
    z-index: 1;
}
#previous{
    left:5px;
    background: pink;
}
#next{
    right:5px;
}
.carousel button :hover{
    opacity:0.5s ;
}